<!--TODO: Move delete and edit into pop up dialogs
and make this 3-4 columns for less scrolling up/down-->
<section ng-class="$ctrl.styles.updateImage">
  <!-- Error Message -->
  <div id="error" ng-show="$ctrl.isInvalid">
    <!--TODO: dynamically populate the error message-->
    <p>Must be new information and not blank.</p>
  </div>
  <!-- Form -->
  <form ng-submit="$ctrl.submit()">
    <md-input-container class="md-accent">
      <input placeholder="Title" ng-model="$ctrl.image.title">
    </md-input-container>
    <md-input-container class="md-accent">
      <input placeholder="Description" ng-model="$ctrl.image.description">
    </md-input-container>
    <md-input-container class="md-accent">
      <input placeholder="Image URL" ng-model="$ctrl.image.link">
    </md-input-container>
    <div>
      <md-button type="submit">Send</md-button>
    </div>
  </form>
</section>
