<!--TODO: Move delete and edit into pop up dialogs
and make this 3-4 columns for less scrolling up/down-->
<span ng-class="$ctrl.styles.list">
  <div class="item">
    <!--TODO: Make image show in pop up dialog or lightbox-->
    <h2><a ng-href="{{$ctrl.info.link}}">{{$ctrl.info.title}}</a></h2>
    <h3>{{$ctrl.info.description}}</h3>
    <div>
      <md-button ng-click="showWarning=!showWarning">Delete</md-button>
      <md-button ng-hide="showUpdate" ng-click="showUpdate=!showUpdate">Edit</md-button>
      <md-button ng-show="showUpdate" ng-click="showUpdate=false">Cancel Edit</md-button>
    </div>
    <!-- Update Form -->
    <update-image-form ng-show="showUpdate" showUpdate="$ctrl.showUpdate" update=$ctrl.update info=$ctrl.info></update-image-form>
    <!-- Warning message when deleting an image -->
    <div ng-show="showWarning">
      <p class="confirmMessage">Are you sure?</p>
        <md-button class="md-warn" ng-click="$ctrl.remove($ctrl.info)">Confirm Delete</md-button>
        <md-button ng-click="showWarning=false">Keep Photo</md-button>
    </div>
  </div>
</span>
