 md-content {
   text-align: center;
   a {
     text-decoration: none;
     color: #00BCD4;
     cursor: pointer;
   }

   a:hover {
     color: rgba(63,81,181,0.87);
   }

   margin: 2%;
   padding: 1%
 }

 md-dialog {
   padding: 3%;
 }
