:local(.listAlbums){

  a {
    font-size: 2em;
    text-decoration: none;
  }

  .listItem {
    padding: 0.5%;
  }

  .listItem:hover {
    border: 1px solid #373A3B;
  }

  .warningText {
    color: #FFC107;
  }

}
