:local(.appNav){
  a {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: white;
  }
  a.active {
    color: rgba(233,30,99,0.87);
    text-decoration: underline;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }
}
